/* This file is used for the main styles on the application */

/* Headline Overdies */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "brandon-grotesque";
    color: #222;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    letter-spacing: 1.5px;
    color: #183a78 !important;
}

p {
    font-family: "museo-sans";
    opacity: .85;
    letter-spacing: 1.4px;
    line-height: 26px;
    font-weight: 100;
    color: #222;
    font-size: 14px;
}

/* Basic Element Override */

a {
    font-family: "museo-sans";
    font-weight: 300;
    letter-spacing: 1px;
}

html {
    background: #fbfbfb;
}

/* Generalist Component Styles */

.global-wrapper {
    background: radial-gradient(ellipse at center, #fff 0, #fcfcfc 96%);
    min-height: 100vh;
    overflow-x: hidden;
}

.content-wrapper {
    margin: 34px 15px;
}

/* Tab Bar Styles */

.logo {
    opacity: .65;
    max-width: 50px;
}

.tab-bar-wrapper {
    box-shadow: -2px 6px 12px 5px #c8c8c8;
    min-height: 57px;
    background: #ffffff;
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.tab-bar-wrapper .tab-bar-item {
    flex: 1;
    text-align: center;
    padding-top: 12px;
    border-right: 1px solid #e9e9e9;
    color: #4e4e4e;
    text-decoration: none;
    position: relative;
}

.tab-bar-wrapper .tab-bar-item .highlight-bar-left {
    height: 3px;
    background: #183a77;
    width: 0%;
    transition: all 0.3s ease;
}

.tab-bar-wrapper .tab-bar-item .highlight-bar-right {
    height: 3px;
    background: #183a77;
    position: absolute;
    transition: all 0.3s ease;
    width: 0%;
    right: 0;
    bottom: 0;
}

.tab-bar-wrapper .active .highlight-bar-right {
    width: 50%;
}

.tab-bar-wrapper .active .highlight-bar-left {
    width: 50%;
}

.tab-bar-wrapper .tab-bar-item .tab-bar-icon {
    font-size: 21px;
    opacity: .85;
}

.tab-bar-wrapper .tab-bar-item-special p {
    color: white !important;
}

.tab-bar-wrapper .tab-bar-item .tab-bar-icon-active {
    color: red;
}

.tab-bar-wrapper .active {
    color: #183a78;
}

.tab-bar-wrapper .tab-bar-item p {
    margin: 0;
    color: #7f7f7f;
    opacity: 1;
    -webkit-touch-callout: none;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    -webkit-user-select: none;
    /* Disable selection/copy in UIWebView */
    font-weight: 600;
    font-size: 12px;
}

.tab-bar-wrapper .active p {
    color: #183a78;
}

/* Search Bar Styles */

.search-bar-wrapper {
    background: #ffffff;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.switch-wrapper {
    position: relative;
  }
   
  .switch-wrapper > div {
    position: absolute;
  }