/* This file is used for the main styles on the application */

/* Headline Overdies */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "brandon-grotesque";
    color: #222;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    letter-spacing: 1.5px;
    color: #183a78 !important;
}

p {
    font-family: "museo-sans";
    opacity: .85;
    letter-spacing: 1.4px;
    line-height: 26px;
    font-weight: 100;
    color: #222;
    font-size: 14px;
}

/* Basic Element Override */

a {
    font-family: "museo-sans";
    font-weight: 300;
    letter-spacing: 1px;
}

html {
    background: #fbfbfb;
}

/* Generalist Component Styles */

.global-wrapper {
    background: radial-gradient(ellipse at center, #fff 0, #fcfcfc 96%);
    min-height: 100vh;
    overflow-x: hidden;
}

.content-wrapper {
    margin: 34px 15px;
}

/* Tab Bar Styles */

.logo {
    opacity: .65;
    max-width: 50px;
}

.tab-bar-wrapper {
    box-shadow: -2px 6px 12px 5px #c8c8c8;
    min-height: 57px;
    background: #ffffff;
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.tab-bar-wrapper .tab-bar-item {
    flex: 1;
    text-align: center;
    padding-top: 12px;
    border-right: 1px solid #e9e9e9;
    padding-bottom: 7px;
    color: #4e4e4e;
    text-decoration: none;
}

.tab-bar-wrapper .tab-bar-item .tab-bar-icon {
    font-size: 21px;
    opacity: .85;
}

.tab-bar-wrapper .tab-bar-item-special p {
    color: white !important;
}

.tab-bar-wrapper .tab-bar-item .tab-bar-icon-active {
    color: red;
}

.tab-bar-wrapper .active {
    border-bottom: 3px solid #183a78;
    color: #183a78;
}

.tab-bar-wrapper .tab-bar-item p {
    margin: 0;
    color: #7f7f7f;
    opacity: 1;
    -webkit-touch-callout: none;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    -webkit-user-select: none;
    /* Disable selection/copy in UIWebView */
    font-weight: 600;
    font-size: 12px;
}

.tab-bar-wrapper .active p {
    color: #183a78;
}

/* Search Bar Styles */

.search-bar-wrapper {
    background: #ffffff;
    top: 0px;
    width: 100%;
    z-index: 1;
}

body {
    font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    height: 36px;
    padding: 10px;
    border: 0px solid black;
    border-radius: 0px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: #f9f9f9;
    border-bottom: 2px solid #183a78;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 65px;
    width: 100%;
    min-width: 160px;
    margin-left: 1px;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    overflow-y: auto;
    z-index: 2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 0px 10px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: $chefhero-hover-green;
}

.react-autosuggest__suggestion-match {
    color: red;
    font-weight: bold;
}

.icon {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 24px;
    height: 24px;
}

/* Regiustry Stuyling */

.registry-wrapper {}

.registry-item {
    min-height: 111px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: white;
    margin-bottom: 23px;
    padding: 10px;
}